<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoodJob_Website</title>
</head>

<body>
  <div class="header">
    <div class="logo">
      <h1>GoodJob_Website</h1>
    </div>
    <div class="right-part">
      <div class="my-page">User_name</div>
      <div class="resume">My resume</div>
      <div class="list">Applied</div>
      <div class="bookmark">Bookmarks</div>
    </div>
  </div>

  <div class="body">
    <div class="contents">
      <div class="search">Search</div>
      <div class="vacancies">
        <div class="vacancie">
          <h2 class="position">営業担当</h2>
          <p class="details">勤務地：千葉</p>
          <p class="details">年収：350~450万円</p>
          <p class="details">仕事内容：hogefuga</p>
          <button class="position-btn">応募</button>
          <button class="position-btn">ブックマーク</button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    © 2020 Cafelatte.here 
  </div>
</body>
</html>